@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 96%;
    height: 5vw;
    align-items: center;
    padding: 0% 2% 0% 2%;
}

#logo{
    width: 20%;
    height: 1.5vw;
    margin-left: 0;
    background-color:#c7c7c7;
}

#menu{
    width: 15%;
    height: 2.5vw;
    margin-right: 0;
    background-color:#c7c7c7;
}

#container{
    width: 100%;
    height: auto;
    flex-direction: column;
}

#contend{
    width: 100%;
    height: auto;
    padding-bottom: 2vw;
}

#banner{
    width: 95%;
    height: 22vw;
    margin-bottom: 2vw;
    background-color: #7ca7ad;
}

#first-cont{
    width: 95%;
    min-height: 40vw;
    height: auto;
}

#fst-cnt-img{
    width: 71%;
    height: auto;
    flex-wrap: wrap;
}

#fst-cnt-sidebar{
    width: 30%;
    min-height: 40vw;
    height: auto;
    flex-direction: column;
}

#oferta-maior{
    width:100%;
    margin-bottom: 4vw;
}

#oferta-maior-img{
    width:100%;
    height: 20vw;
    margin-bottom: 2%;
    background-color:#c7c7c7;
}

#oferta-maior-text p{
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
}


.flex{
    display: flex;
}

.oferta{
   width: 40%;
   height: 20vw;
   margin: 0 10% 3% 0;
}

.oferta-img{
    width: 100%;
    height: 15vw;
    margin-bottom: 2%;
    background-color: #bfa19b;
}

.oferta-text{
    width: 100%;
    height: 5vw; 
}

.oferta-text p{
    font-size: 1.5vw;
}

.oferta-mini{
    width: 100%;
    margin-bottom: 1.5vw;
    align-items: center;
}

.oferta-mini-img{
    width: 5vw;
    height: 5vw;
    margin-left: 0;
    background-color:#c7c7c7;
}

.oferta-mini-text{
    width: 78%;
    height: 3vw; 
}

.oferta-mini-text p{
    font-size: 1.2vw;
}